* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html, body {
  margin: 0px;
  padding: 0px;
  font-family: 'Lato', sans-serif; }

h1, h2, h3, h4 {
  margin: 0px;
  padding: 0px;
  display: inline-block;
  font-weight: 500; }

.bodywrap .header {
  height: 60px;
  line-height: 60px;
  padding: 0px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  width: 100%;
  z-index: 20;
  background-color: white;
  top: 0;
  margin-top: 0px;
  border-bottom: 2px solid #e4e3e3; }
  .bodywrap .header .headerpart {
    width: calc(100%/3); }
  .bodywrap .header .logo {
    font-size: 30px;
    font-weight: 600;
    color: #212121;
    font-family: 'Baloo', cursive;
    display: inline-block; }
    .bodywrap .header .logo span {
      color: #FF9800; }
  .bodywrap .header .midbox {
    text-align: center; }
    .bodywrap .header .midbox .lookbtn {
      border: 3px solid #2196F3;
      border-radius: 4px;
      color: white;
      background-color: #2196F3;
      font-size: 20px;
      letter-spacing: 2px;
      padding: 5px 15px;
      cursor: pointer;
      -webkit-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease;
      text-transform: uppercase;
      font-weight: 600; }
    .bodywrap .header .midbox .lookbtn:hover {
      -webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }
  .bodywrap .header .rightbox {
    font-size: 20px;
    letter-spacing: 2px;
    text-align: right;
    font-weight: 600; }
    .bodywrap .header .rightbox .changeformat {
      display: inline-block;
      position: relative; }
      .bodywrap .header .rightbox .changeformat .currentformat {
        padding: 5px 2px;
        border-bottom: 2px solid black;
        cursor: pointer;
        font-size: 18px; }
        .bodywrap .header .rightbox .changeformat .currentformat span {
          font-size: 20px; }
      .bodywrap .header .rightbox .changeformat .formatlist {
        display: none;
        position: absolute;
        z-index: 14;
        right: 0px;
        background-color: white;
        text-align: center;
        border-radius: 4px;
        margin-top: -2px;
        -webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }
        .bodywrap .header .rightbox .changeformat .formatlist li {
          list-style: none;
          padding: 0px 30px;
          cursor: pointer;
          -webkit-transition: 0.4s ease all;
          -o-transition: 0.4s ease all;
          transition: 0.4s ease all; }
        .bodywrap .header .rightbox .changeformat .formatlist #activeformat {
          background-color: #ecf0f1; }
        .bodywrap .header .rightbox .changeformat .formatlist li:hover {
          background-color: #ecf0f1; }
    .bodywrap .header .rightbox .changeformat:hover .currentformat {
      border-bottom-color: #2196F3; }

.bodywrap .container {
  height: auto;
  margin-top: 60px; }
  .bodywrap .container .color-container {
    position: relative; }
    .bodywrap .container .color-container .material-color .colorname {
      border: 2px solid white;
      padding: 10px;
      border-radius: 4px; }
    .bodywrap .container .color-container .colorname {
      font-size: 22px;
      font-weight: 500; }
    .bodywrap .container .color-container .social-color .colorbox {
      border: 2px solid white;
      padding: 10px;
      border-radius: 4px; }
      .bodywrap .container .color-container .social-color .colorbox .colorname {
        display: inline-block; }
    .bodywrap .container .color-container .color-header {
      height: 70px;
      line-height: 70px;
      text-align: center;
      color: #212121;
      font-size: 30px;
      letter-spacing: 2px;
      display: block; }
    .bodywrap .container .color-container .row {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      height: 150px; }
      .bodywrap .container .color-container .row .col {
        width: 100%;
        height: 100%; }
        .bodywrap .container .color-container .row .col .contain {
          width: 100%;
          height: 100%;
          color: white;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          font-size: 22px;
          cursor: pointer;
          z-index: 9;
          position: relative;
          -webkit-transition: all 0.7s ease;
          -o-transition: all 0.7s ease;
          transition: all 0.7s ease; }
        .bodywrap .container .color-container .row .col .contain:hover {
          z-index: 10;
          -webkit-box-shadow: 0 8px 20px 20px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 8px 20px 20px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }
    .bodywrap .container .color-container .rgba-bar {
      display: none;
      position: fixed;
      z-index: 12;
      right: 10px;
      bottom: 10px;
      background-color: white;
      padding: 20px;
      -webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      border-radius: 4px;
      /*hide the outline behind the border*/ }
      .bodywrap .container .color-container .rgba-bar .input-range {
        -webkit-appearance: none;
        -webkit-writing-mode: bt-lr;
        -ms-writing-mode: bt-lr;
        writing-mode: bt-lr;
        /* IE */
        -webkit-appearance: slider-vertical;
        /* WebKit */ }
      .bodywrap .container .color-container .rgba-bar input[type=range] {
        /* fix for FF unable to apply focus style bug  */
        border: 1px solid white;
        /*required for proper track sizing in FF*/
        height: 300px; }
      .bodywrap .container .color-container .rgba-bar input[type=range]::-moz-range-track {
        height: 300px;
        width: 5px;
        background: #ddd;
        border: none;
        border-radius: 3px; }
      .bodywrap .container .color-container .rgba-bar input[type=range]::-moz-range-thumb {
        border: none;
        border-radius: 50%;
        background: #2196F3; }
      .bodywrap .container .color-container .rgba-bar input[type=range]:-moz-focusring {
        outline: 1px solid white;
        outline-offset: -1px; }
      .bodywrap .container .color-container .rgba-bar input[type=range]:focus::-moz-range-track {
        background: #ccc; }
      .bodywrap .container .color-container .rgba-bar input[type=range]::-ms-track {
        /*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead */
        background: transparent;
        /*leave room for the larger thumb to overflow with a transparent border */
        border-color: transparent;
        border-width: 6px 0;
        /*remove default tick marks*/
        color: transparent; }
      .bodywrap .container .color-container .rgba-bar input[type=range]::-ms-fill-lower {
        background: #777;
        border-radius: 10px; }
      .bodywrap .container .color-container .rgba-bar input[type=range]::-ms-fill-upper {
        background: #ddd;
        border-radius: 10px; }
      .bodywrap .container .color-container .rgba-bar input[type=range]::-ms-thumb {
        border: none;
        border-radius: 50%;
        background: #2196F3; }
      .bodywrap .container .color-container .rgba-bar input[type=range]:focus::-ms-fill-lower {
        background: #888; }
      .bodywrap .container .color-container .rgba-bar input[type=range]:focus::-ms-fill-upper {
        background: #ccc; }

#blur {
  position: fixed;
  z-index: 99;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  display: none; }
  #blur #copycontain {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    #blur #copycontain #copied {
      background-color: #2c3e50;
      color: white;
      font-size: 20px;
      padding: 20px;
      margin-top: 20px;
      display: inline-block;
      border-radius: 4px;
      letter-spacing: 2px;
      display: none;
      position: fixed; }
